*{
    margin: 0%;
    padding: 0%;
}
.main{
    text-align: center;
}
body{
    background-color: rgb(189, 242, 242);
}
.dice{
    display: inline-block;
    text-align: centers;
}
h1{
    margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 10px 0 #232931;
  font-size: 8rem;
  color: #cc4e5b;
}
p {
    font-size: 2rem;
    color: #281408;
    font-family: 'Indie Flower', cursive;
  }
  img {
    width: 80%;
  }
 